body {
  color: var(--color-text);
  background-color: var(--color-bg-dark);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  height: 100%;
  margin: 0;
  padding: 0;
}
